nav{border:black 2px solid; }
table{min-height: 50vh;}

nav{background-color: aqua;}
.tableSection
{  height: 50vh;
    width: 100%;
    overflow-y: scroll;
}

footer
{background-color: olive;
 height: 10vh;
  margin-top: 2vh;
  border:black 2px solid;
  justify-self:end;
}
footer > p
{ padding-top:2vh;
  text-align: center;
}
.texto
{min-height: 25vh;}
/*Parte central*/
#homeText
{ height: 100%;}
section {padding-top:1rem;}
#logo{width: 6rem;}
.homeMain{min-height: 100vh;}
#aguila
{margin-top:5vh;
 width: 30vw;
}
#liberty
{margin-top:5vh;
 width: 30vw;
}
.textoHome{margin:0;}
.acordeon{min-height: 25vh;}